<h1>Driver Form</h1>
<br>
<p>driverData value: {{driverData | json}}</p><hr>

<form #f='ngForm' (ngSubmit)='onSubmit(f)'>

    <div class="form-group">
      <label class="control-label" [class.text-danger]="!name.valid" for="name">Full Name:</label>
      <input type="text" class="form-control" id="name" name="name"
            [(ngModel)]="driverData.name" #name="ngModel" required autofocus>
      <div *ngIf="name.errors?.required">
        <strong>Warning:</strong> "Full Name:" is required.
      </div>          
    </div>
    
    <div class="form-group">
      <label class="control-label" for="description">Description:</label>
      <textarea class="form-control" id="description" name="description"
            [(ngModel)]="driverData.description" rows="6"></textarea>
    </div>
  
    <div class="form-group">
      <label class="control-label" for="ownedTransportation">Owned Transportation:</label>
      <select multiple class="form-control" id="ownedTransportation" name="ownedTransportation"
            [(ngModel)]="driverData.ownedTransportation" >
        <!-- <option value="C">Car</option>
        <option value="B">Bus</option>
        <option value="M">Motorcycle</option>
        <option value="H">Helicopter</option> -->
        <option *ngFor = "let transportation of transportationList" [value]="transportation.value">
          {{transportation.text}}
        </option>
      </select>
    </div>
  
    <div class="form-group">
      <label class="control-label" for="favouriteTransportation">Favourite Transportation:</label>
      <select class="form-control" id="favouriteTransportation" name="favouriteTransportation"
            [(ngModel)]="driverData.favouriteTransportation">
        <!-- <option value="C">Car</option>
        <option value="B">Bus</option>
        <option value="M">Motorcycle</option>
        <option value="H">Helicopter</option> -->
        <option *ngFor = "let transportation of transportationList" [value]="transportation.value">
          {{transportation.text}}
        </option>
      </select>
    </div>
  
    <div class="form-group">
      <label for="driverLicence" class="control-label">Has a driver's license?</label>
      <div class="checkbox">
          <label><input type="checkbox" id="driverLicence" name="driverLicence" 
            [(ngModel)]="driverData.driverLicence"/> Yes, if checked</label>
      </div>
    </div>
  
    <div class="form-group">
      <label for="" class="control-label">Vehicle usage:</label>
      <div class="radio">
        <label class="control-label" for="vehicleUseBusiness">
          <input type="radio" id="vehicleUseBusiness" name="vehicleUse" value="business" 
                [(ngModel)]="driverData.vehicleUse"/> Business
        </label>
      </div>
      <div class="radio">
        <label class="control-label" for="vehicleUsePleasure">
          <input type="radio" id="vehicleUsePleasure" name="vehicleUse" value="pleasure" 
                [(ngModel)]="driverData.vehicleUse"/> Pleasure
        </label>
      </div>
      <div class="radio">
        <label class="control-label" for="vehicleUseOther">
          <input type="radio" id="vehicleUseOther" name="vehicleUse" value="other" 
                [(ngModel)]="driverData.vehicleUse" /> Other
        </label>
      </div>
    </div>
  
    <button class="btn btn-primary" [disabled]="!f.valid" type="submit"><del>Create</del><ins>Update</ins></button>
  
  </form>
  
<hr><br>
<p>Access the value of a reference variable - 'ngForm'</p>
<div *ngIf="f.submitted">
    <div class="card card-body bg-light">
        <strong>Value: </strong> {{ f.value| json }} <br><br>
        <strong>Valid: </strong> {{ f.valid}} <br>{{ f.form.valid}}<br>
        <strong>Dirty: </strong> {{ f.dirty}} <br><br>
        <strong>Touched: </strong> {{ f.touched}}
    </div>
</div>