
<h2>Directives Component</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>First Language (Code 3)</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.firstName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.age}}</td>

            <!-- <td>{{user.language}}</td> -->
            <td [ngSwitch]="user.language">
                <span *ngSwitchCase="'English'">Eng.</span>
                <span *ngSwitchCase="'German'">Ger.</span>
                <span *ngSwitchCase="'Italian'">Ita.</span>
                <span *ngSwitchCase="'Spanish'">Spa.</span>
            </td>
            
            <!-- <td>{{user.active}}</td> -->
            <!-- <td *ngIf="user.active">Active</td>
            <td *ngIf="!user.active">Inactive</td> -->
            <td>
                <span *ngIf="user.active">Active</span>
                <span *ngIf="!user.active">Inactive</span>
            </td>

        </tr>
    </tbody>
</table>




