<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Week 7 - Angular Demo App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" routerLink="/acs" routerLinkActive="active">A/C/S Bindings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/directives" routerLinkActive="active">Directives</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/events" routerLinkActive="active">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/posts" routerLinkActive="active">Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/driver" routerLinkActive="active">Driver</a>
      </li>
    </ul>

  </div>
</nav>

<!-- <app-attribute-class-style-bindings></app-attribute-class-style-bindings> 

<app-directives></app-directives>

<app-events></app-events> -->


<div class="container">
  <div class="row">
    <div class="col">

      <br>
      <router-outlet></router-outlet>

    </div>
  </div>
</div>

